<link rel="stylesheet" href="./stylesheets/style.css"/>
<div class="container">
  <form id="contact" action="/contact" method="post">
    <h3>Quick Contact</h3>
    <h4>Contact us via this form!</h4>
    <fieldset>
      <input placeholder="Your name" type="text" name="name" tabindex="1" autofocus=""/>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" name="email" tabindex="2"/>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="number" name="tel" tabindex="3"/>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your Message Here...." name="message" tabindex="5"></textarea>
    </fieldset>
    <fieldset>
      <button id="contact-submit" type="submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>