<!DOCTYPE html>
<html>

<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
</head>

<body>
	<div class="navbar">
		<ul>
			<li>
				<a class="active" href="/">Home</a>
			</li>
			<li>
				<a href="/login">Login</a>
			</li>
			<li>
				<a href="/contact">Contact page</a>
			</li>
			<li>
				<a href="/register">Register page</a>
			</li>
			<li>
				<a href="/users">Users page</a>
			</li>
		</ul>
	</div>
</body>

</html>