<link rel="stylesheet" type="text/css" href="./stylesheets/style.css"/>
<div class="homepage1">
  <h1>Home</h1><a href="/contact">Contact page</a><br/><a href="/login">Login page</a><br/><a href="/register">Register page</a>
</div>