<link rel="stylesheet" type="text/css" href="./stylesheets/style.css"/>

<strong>Kontakt poslan!</strong> 

<p>Dobro je proslo :) Redirektujem te na USER listu za 5 sekundi <meta http-equiv="refresh" content="5; url=http://127.0.0.1:3000/users"></p>
 