<link rel="stylesheet" type="text/css" href="./stylesheets/style.css"/>
<div class="login">
  <h1>Login</h1>
  <form method="post">
    <input type="text" name="nickname" placeholder="Username" required="required"/>
    <input type="password" name="sifra" placeholder="Password" required="required"/>
    <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
  </form>
</div>