<!DOCTYPE html>
<html>
  <head>

<link rel="stylesheet" type="text/css" href="./stylesheets/style.css"/>

<body>
<div class="prikaziusere">

    <h1> User list from <a href="http://127.0.0.1:3000/register">Registration</a></h1>
    <% data.forEach(function(users) { %>
    <p><strong>User Email</strong>:<%= users.email %> - <strong>Username</strong> <%= users.username  %> - <strong>Reeal Name</strong> <%= users.real_name %> - <strong>Birth Date</strong> <%= users.birth_date  %></p>
            <% }); %>
          </div>

</body>
</html>